.wrap {
    display: flex;
    justify-content: space-between;
    margin: 20px 5% 0;
}

.wrap > div {
    width: 48%;
}

.detail__ttl-inner {
    display: flex;
    align-items: center;
    margin: 50 0 30 0;
}

.back__btn {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 10px 0px rgba(145, 145, 145, 0.6);
    padding: 5px 10px;
    font-size: 15px;
}

button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.shop__name {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.shop__detail img {
    width: 100%;
}

.shop__info {
    display: flex;
    font-size: 15px;
    margin: 20 0;
}

.shop__area {
    margin-right: 10px;
}

.shop__description {
    line-height: 1.5;
}

.shop__reserve {
    background-color: rgb(44, 100, 255);
    position: relative;
    border-radius: 5px 5px 5px 5px;
}

.shop__reserve-inner {
    margin-top: 30px;
    margin-left: 20px;
}

.reserve__ttl {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.shop__reserve-date {
    margin: 20 0 10 0;
}

.shop__reserve-date input {
    width: 50%;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.shop__reserve-time select {
    width: 70%;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.shop__reserve-select {
    width: 70%;
    margin: 10 0 10 0;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.reserve__table {
    margin-top: 20px;
    padding: 20px 0 0 20px;
    width: 80%;
    height: 30%;
    background-color: rgb(165, 189, 255);
    border-radius: 5px 5px 5px 5px;
}

.reserve__table table {
    text-align: left;
    border-spacing: 10px 0px;
    border-collapse: separate;
}

th {
    margin-right: 10px;
}

tr td:nth-child(2),
td:nth-child(3) {
    padding-top: 10px;
}

.reserve__btn-block {
    width: 100%;
    background-color: rgb(1, 69, 255);
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0px;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
}
