.wrap {
    display: flex;
    justify-content: space-between;
}

.search__area {
    padding: 10px;
    margin: 20px 20px 0 0;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0px rgba(145, 145, 145, 0.6);
}

input {
    border: none;
}

select {
    border: solid rgb(114, 113, 113);
    border-width: 0 1 0 0;
}

.search__button {
    background-color: white;
    color: grey;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.musimegane {
    width: 16px;
    margin-bottom: -3px;
}

.shop__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.shop__content::before {
    content: "";
    display: block;
    width: 20%;
    order: 1;
    margin: 10px 15px;
}

.shop__content::after {
    content: "";
    display: block;
    width: 20%;
    order: 1;
    margin: 10px 15px;
}

.shop__card {
    width: 20%;
    margin: 10px 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0px rgba(145, 145, 145, 0.6);
}

.hidden {
    display: none;
}

.shop__card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card__inner {
    margin: 0 15px;
}

.card__ttl {
    display: flex;
    font-size: 30px;
    margin: 20 0;
}

.shop__info {
    display: flex;
    font-size: 15px;
}

.shop__area {
    margin-right: 10px;
}

.shop__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__detail {
    width: 100%;
    padding: 10;
    margin-top: 20;
    margin-bottom: 30;
    background-color: #0d33ff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.like__icon {
    width: 10%;
}
