.wrap {
    display: flex;
    justify-content: space-between;
}

.ttl {
    font-weight: bold;
    margin-bottom: 20px;
}

.wrap__inner {
    margin: 20 50 0 50px;
}

.user__info {
    display: flex;
    justify-content: space-between;
}

.reservation {
    width: 35%;
    margin-top: 60px;
}

.reserve__table {
    padding: 20px 0px 20px 15px;
    background-color: rgb(44, 100, 255);
    border-radius: 5px 5px 5px 5px;
}

.reserve__table table {
    text-align: left;
    border-spacing: 10px 0px;
    border-collapse: separate;
}

th {
    margin-right: 10px;
    color: #fff;
}

td {
    color: #fff;
}

tr td:nth-child(2),
td:nth-child(3) {
    padding-top: 20px;
}

.user__info-inner {
    width: 50%;
    margin-left: 20px;
}

.user {
    font-size: 25px;
    font-weight: bold;
}

.like {
    margin-top: 45px;
    margin-bottom: 50px;
}

.like__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop__card {
    width: 48%;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0px rgba(145, 145, 145, 0.6);
}

.shop__card:nth-child(n + 3) {
    margin-top: 10px;
}

.shop__card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card__inner {
    margin-left: 10;
}

.card__ttl {
    font-size: 20px;
    margin: 20 0;
}

.shop__info {
    display: flex;
    font-size: 15px;
}

.shop__area {
    margin-right: 10px;
}

.shop__detail {
    width: 40%;
    padding: 10;
    margin-top: 20;
    margin-bottom: 30;
    background-color: #0d33ff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
